.main {
  padding: 30px;
}

.main h1 {
  margin-bottom: 30px;
  text-align: center;
}

.section {
  display: flex;
  gap: 50px;
}

.post {
  width: 50%;
  border: solid 1px #fafafa;
  border-radius: 5px;
  padding: 30px 50px;
}

.post h2 {
  margin-bottom: 20px;
}

.post p {
  margin-bottom: 10px;
}

.post a {
  font-size: 12px;
  cursor: pointer;
}
