.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.post {
  width: 100%;
  border: solid 1px #fafafa;
  border-radius: 5px;
  padding: 30px 50px;
  width: 100%;
}

.post h2 {
  margin-bottom: 20px;
}

.post p {
  margin-bottom: 10px;
}

.post a {
  font-size: 12px;
  cursor: pointer;
}
